[Desktop Entry]
Encoding=UTF-8
Name=Clam One
Name[af]=Clam Een
Name[am]=ክላም አንድ
Name[ar]=البطلينوس واحد
Name[ar_AR]=البطلينوس واحد
Name[ar_MA]=البطلينوس واحد
Name[ast]=
Name[az]=Birini Vur
Name[be]=Заціснуць адзін
Name[be@latin]=Заціснуць адзін
Name[bg]=Стискам един
Name[bg_BG]=Стискам един
Name[bn]=এক ক্ল্যাম
Name[bn_BD]=এক ক্ল্যাম
Name[bn_IN]=এক ক্ল্যাম
Name[bs]=Zatvori Jedan
Name[ca]=Clam Una
Name[ca@valencia]=Clam Una
Name[ca_ES@valencia]=Clam Una
Name[cs]=Upněte Jednu
Name[cs_CZ]=Upněte Jednu
Name[csb]=
Name[cy]=
Name[da]=
Name[de]=
Name[de_CH]=
Name[de_DE]=
Name[el]=
Name[en_AU]=Clam One
Name[en_US]=Clam One
Name[en_GB]=Clam One
Name[eo]=
Name[es]=
Name[es_419]=
Name[es_AR]=
Name[es_CL]=
Name[es_CO]=
Name[es_CR]=
Name[es_DO]=
Name[es_EC]=
Name[es_ES]=
Name[es_MX]=
Name[es_NI]=
Name[es_PA]=
Name[es_PE]=
Name[es_PR]=
Name[es_SV]=
Name[es_US]=
Name[es_UY]=
Name[es_VE]=
Name[et]=
Name[eu]=
Name[fa]=
Name[fa_AF]=
Name[fa_IR]=
Name[fi]=
Name[fi_FI]=
Name[fil]=
Name[fo]=
Name[fr]=
Name[fr_CA]=
Name[fr_FR]=
Name[ga]=
Name[gd]=
Name[gl]=
Name[gl_ES]=
Name[gv]=
Name[he]=
Name[he_IL]=
Name[hi]=
Name[hr]=
Name[hu]=
Name[hu_HU]=
Name[ia]=
Name[id]=
Name[id_ID]=
Name[is]=
Name[it]=
Name[it_IT]=
Name[ja]=
Name[ja_JP]=
Name[jv]=
Name[kk]=
Name[km]=
Name[km_KH]=
Name[ko]=
Name[ko_KR]=
Name[ku]=
Name[ku_IQ]=
Name[ky]=
Name[lt]=
Name[lt_LT]=
Name[lv]=
Name[lv_LV]=
Name[mk]=
Name[mk_MK]=
Name[ml]=
Name[mr]=
Name[ms]=
Name[ms_MY]=
Name[nb]=
Name[nb_NO]=
Name[nds]=
Name[ne]=
Name[nl]=
Name[nl_NL]=
Name[nn]=
Name[nn_NO]=
Name[oc]=
Name[pa]=
Name[pl]=
Name[pl_PL]=
Name[pt]=
Name[pt_BR]=
Name[pt_PT]=
Name[ro]=
Name[ro_RO]=
Name[ru]=
Name[si]=
Name[sk]=
Name[sk_SK]=
Name[sl]=
Name[sl_SI]=
Name[so]=
Name[sq]=
Name[sr]=
Name[sr@Latn]=
Name[sr@cyrillic]=
Name[sr@ije]=
Name[sr@ijekavianlatin]=
Name[sr@latin]=
Name[sr_RS]=
Name[sr_RS@latin]=
Name[sv]=
Name[ta]=
Name[ta_LK]=
Name[te]=
Name[tg]=
Name[th]=
Name[th_TH]=
Name[tl]=
Name[tr]=
Name[uk]=
Name[uk_UA]=
Name[ur]=
Name[ur_PK]=
Name[vi]=
Name[vi_VN]=
Name[zh_CN]=
Name[zh_HK]=
Name[zh_TW]=
Comment=Clam One Graphical User Interface
Icon=main_icon_grey
Exec=/usr/bin/ClamOne
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-Delay=20
X-MATE-Autostart-Delay=20
